\beginsong{\VAR{title}}[
\BLOCK{for k, v in metadata.items()}
	\VAR{k}={\VAR{v}},
\BLOCK{endfor}
]

\BLOCK{for block in inhalt}

\VAR{block.begEnvCmd}
\BLOCK{for zeile in block.text}
\VAR{zeile}
\BLOCK{endfor}
\VAR{block.endEnvCmd}
\BLOCK{endfor}

\endsong
